.App {
  text-align: center;
  display: block;
  margin:auto;
  width:1000px;
}

.parentBalloonContainer{
  position: relative;
  width: 500px;
  height: 500px;
}

.balloonContainer{
  cursor: crosshair;
  height: 500px;
  width: 500px;
  border: solid 1px black;
  overflow: hidden;
  position: relative;
}

.innerBalloonContainer{
  position: relative;
  width: 104px;
  height: 140px;
  animation: balloon-rise 6s ease-in-out;
}

.spanDiv{
  width: 100%;
  text-align: center;
}

/* -------------------- UNIVERSAL BALLOON STYLES -------------------- */

.redBalloon, .blueBalloon, .greenBalloon, .indigoBalloon, .orangeBalloon, .violetBalloon, .yellowBalloon {
  text-align: center;
  border-radius:0;
  border-radius:80% 80% 80% 80%;
  margin: 0 auto;
  position: absolute;
  padding:10px;
  -webkit-transform-origin: bottom center;
  animation: balloon-bounce 6s ease-in-out infinite;
  color: white;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   border: solid 1px black;
}

/* -------------------- RED BALLOON STYLES -------------------- */

.redBalloon{
  width:104px;
  height:104px;
  left: 52px;
  background-color: red;
  box-shadow:inset 17px 7px 10px red;
}

.redBalloon:before {
  color:red;
  position:absolute;
  bottom:-14px;
  left: 52px;
  content:"▲";
  font-size:1em;
}

.redBalloon div:nth-child(1) .balloonSpanOp, .redBalloon div:nth-child(1) .balloonSpanNum {
  top: 40% !important;
}

.redBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -2px;
}

.redBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -20px;
}

/* -------------------- ORANGE BALLOON STYLES -------------------- */

.orangeBalloon{
  width:104px;
  height:104px;
  left: 12px;
  background-color: orange;
  box-shadow:inset 17px 7px 10px orange;
}

.orangeBalloon:before {
  color:orange;
  position:absolute;
  bottom:-14px;
  left: 52px;
  content:"▲";
  font-size:1em;
}

.orangeBalloon div:nth-child(1) .balloonSpanOp, .balloonSpanNum {
  top: 30% !important;
}

.orangeBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

/* -------------------- YELLOW BALLOON STYLES -------------------- */

.yellowBalloon{
  width:104px;
  height:104px;
  left: 300px;
  background-color: yellow;
  box-shadow:inset 17px 7px 10px yellow;
}

.yellowBalloon:before {
  color:yellow;
  position:absolute;
  bottom:-14px;
  content:"▲";
  font-size:1em;
}

.yellowBalloon div:nth-child(1) .balloonSpanOp, .yellowBalloon div:nth-child(1) .balloonSpanNum {
  top: 40% !important;
}

.yellowBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

.yellowBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -32px;
}

/* -------------------- GREEN BALLOON STYLES -------------------- */

.greenBalloon{
  background-color: green;
  box-shadow:inset 17px 7px 10px green;
  width:60px;
  height:60px;
  left: 202px;
}

.greenBalloon:before {
  color:green;
  position:absolute;
  bottom:-14px;
  content:"▲";
  font-size:1em;
}

.greenBalloon div:nth-child(1) .balloonSpanOp, .balloonSpanNum {
  top: 30% !important;
}

.greenBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

.greenBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -30px;
}

/* -------------------- BLUE BALLOON STYLES -------------------- */

.blueBalloon{
  background-color: blue;
  box-shadow:inset 17px 7px 10px blue;
  width:60px;
  height:60px;
  left: 12px;
}

.blueBalloon:before {
  color:blue;
  position:absolute;
  bottom:-14px;
  left: 34px;
  content:"▲";
  font-size:1em;
}

.blueBalloon div:nth-child(1) .balloonSpanOp, .balloonSpanNum {
  top: 30% !important;
}

.blueBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

.blueBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -25px;
}

/* -------------------- INDIGO BALLOON STYLES -------------------- */

.indigoBalloon{
  width:104px;
  height:104px;
  left: 82px;
  background-color: indigo;
  box-shadow:inset 17px 7px 10px indigo;
}

.indigoBalloon:before {
  color:indigo;
  position:absolute;
  bottom:-14px;
  left: 62px;
  content:"▲";
  font-size:1em;
}

.indigoBalloon div:nth-child(1) .balloonSpanOp, .indigoBalloon div:nth-child(1) .balloonSpanNum {
  top: 40% !important;
}

.indigoBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

.indigoBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -32px;
}

/* -------------------- VIOLET BALLOON STYLES -------------------- */

.violetBalloon{
  background-color: violet;
  box-shadow:inset 17px 7px 10px violet;
  width:60px;
  height:60px;
  left: 102px;
}

.violetBalloon:before {
  color: violet;
  position:absolute;
  bottom:-14px;
  left: 40px;
  content:"▲";
  font-size:1em;
}

.violetBalloon div:nth-child(1) .balloonSpanOp, .violetBalloon div:nth-child(1) .balloonSpanNum {
  top: 30% !important;
}

.violetBalloon div:nth-child(1) .balloonSpanNum{
  margin-left: -10px;
}

.violetBalloon div:nth-child(1) .balloonSpanOp{
  margin-left: -30px;
}

@keyframes balloon-bounce{
  0%,100%{ -webkit-transform:translateY(0) rotate(-6deg);}
  50%{ -webkit-transform:translateY(-20px) rotate(8deg);}
}

@keyframes balloon-rise{
  0%{
    -webkit-transform:translateY(1000px);
  } 100%{
    -webkit-transform:translateY(-200px);
  }
}

.balloonTotal{
  min-width: 50px;
  font-size: 100px;
  position: absolute;
  right: -40%;
  top: 25%;
  padding: 20px;
}

.balloonSpanOp {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 30px;
  font-weight: 800;
  position: absolute;
  top: 40%;
  margin-left: -25px;
}

.balloonSpanNum {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 30px;
  position: absolute;
  top: 40%;
  font-weight: 800;
}

.startBtn{
  bordeR: solid 1px black;
  padding: 10px;
  display: block;
  margin: auto;
  width: 100px;
  color: white;
  background-color: green;
  cursor: pointer;
}
